body {
  width:100vw;
  height: 100vh;
  display: inline-flex;
  border: 1px solid purple;
  justify-content: center;
   align-content: center;

}

.page_wrapper{
  width:80%;
  min-height: 80%;
  border: 1px solid purple;


}
