<h2>Sign In</h2>

<section class="" ng-if="!auth.user">
  <div class="input-group input-group-lg">
    <span class="input-group-addon" >Email:</span>
    <input type="text" ng-model="auth.email"  aria-describedby="sizing-addon1" class="form-control">
  </div>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" >Password:</span>
    <input type="password" ng-model="auth.password" aria-describedby="sizing-addon1" class="form-control">
  </div>

  <button type="button" ng-click="auth.signIn()" class="btn btn-default">Sign In</button>

  <p ng-if="auth.error">
    Error: <strong>{{ auth.error }}</strong>
  </p>
</section>

<section ng-if="auth.user">
  <h3>Don't be silly. You are already logged in...</h3>
</section>
