<section ng-controller="TweetController as tweets">

<form>
  <div class="input-group">
    <input type="text" ng-model="tweets.tweetSearch" class="form-control" placeholder="Search twitter here">
    <div class="input-group-btn">
      <button type="button"
              id="popup"
              class="btn btn-default"
              data-container="body"
              data-toggle="popover"
              data-placement="top"
              title="Twitter Search"
              data-content="Search Twitters database for recent tweets, remember not all tweets have a geolocating tag on them so they will not appear on the map!" >
              <i class="glyphicon glyphicon-question-sign"></i></button>
      <button type="button" class="btn btn-default" ng-click="tweets.getTweets()">Search<i class="glyphicon glyphicon-search"></i></button>

   <!-- Buttons -->
   </div>
   </div>


   <div class="col-sm-12">
    <!--  tweet in tweetsAll display one tweet -->
    <ul class="row container-fluid">
      <li class="col-sm-5 tweets" ng-repeat="tweet in tweets.allTweets.statuses">
        <div class="row">
          <img src="{{ tweet.user.profile_image_url }}" alt="Profile pic" class="inline-block">
          <p class="inline-block">{{ tweet.user.name }}</p>
          <p>{{ tweet.created_at }}</p>
        </div>
        <p>{{ tweet.text }}</p>



        <input type="hidden" name="id" value="{{ tweet.id_str }}">
        <input type="hidden" name="gps" value="{{ tweet.bounding_box.coordinates }}">
        <input type="hidden" name="place" value="{{ tweet.place }}">
        <input type="hidden" name="locations" value="{{ tweet.user.locations }}">

      </li>
    </ul>
  </div>
</form>


 <h2 ng-if="tweets.markers.length > 0">MAPS</h2>

  <ui-gmap-google-map ng-if="tweets.markers.length > 0" center="tweets.map.center" zoom="tweets.map.zoom" options="tweets.map.options" >
    <ui-gmap-marker ng-repeat="tweetMarker in tweets.markers" coords="tweetMarker.location" idkey="tweetMarker.id"></ui-gmap-marker>
  </ui-gmap-google-map>



</section>
<!-- NEED TO BE DONE IN ANGULAR -->
  <script type="text/javascript">
  $(document).ready(function() {


  //BS Popover promt_________________________
    $(function () {
      $('[data-toggle="popover"]').popover();
    });

  });

  </script>
