<h2>Recent Twitter Tweets</h2>


<form ng-controller="TweetController as tweets">
  <div class="input-group">
    <input type="text" ng-model="tweets.tweetSearch" class="form-control">
    <div class="input-group-btn">
      <button type="button"
              id="popup"
              class="btn btn-default"
              data-container="body"
              data-toggle="popover"
              data-placement="top"
              title="Twitter Search"
              data-content="Search Twitters database for recent tweets" >
              <i class="glyphicon glyphicon-question-sign"></i></button>
      <button type="button" class="btn btn-default" ng-click="tweets.getTweets()">Search<i class="glyphicon glyphicon-search"></i></button>

   <!-- Buttons -->
   </div>
   </div>


   <div class="col-sm-12">
    <!--  tweet in tweetsAll display one tweet -->
    <ul class="row container-fluid">
      <li class="col-sm-5 tweets" ng-repeat="tweet in tweets.allTweets.statuses">
        <div class="row">
          <img src="{{ tweet.user.profile_image_url }}" alt="Profile pic" class="inline-block">
          <p class="inline-block">{{ tweet.user.name }}</p>
          <p>{{ tweet.created_at }}</p>
        </div>
        <p>{{ tweet.text }}</p>
  

        <input type="hidden" name="id" value="{{ tweet.id_str }}">
        <input type="hidden" name="gps" value="{{ tweet.coordinates }}">
        <input type="hidden" name="place" value="{{ tweet.place }}">
        <input type="hidden" name="locations" value="{{ tweet.user.locations }}">

      </li>
    </ul>
  </div>
</form>

<!--
<h2>MAPS</h2>
<div ng-controller="MapsController as maps" ng-init="maps.setMapMarkerLocation()">
  <ui-gmap-google-map center="maps.map.center" zoom="maps.map.zoom">
	  <ui-gmap-marker coords="maps.marker.coords" options="maps.marker.options" ></ui-gmap-marker>
	</ui-gmap-google-map>
</div> -->
<script type="text/javascript">
$(document).ready(function() {


//BS Popover promt_________________________
  $(function () {
    $('[data-toggle="popover"]').popover();
  });

});

</script>
